.AppHeader {
  .row {
    nav {
      background-color: rgb(3, 12, 61);
      .div-header {
        display: flex;
        flex-direction: row;
        width: 100%;

        &.second-header {
          justify-content: right;
        }
        .home {
          .home-icon {
            width: 30px;
          }
        }
      }
    }
    .nav-link {
      color: azure;
      font-weight: 600;
      font-size: 20px;
      &:hover {
        color: rgb(245, 121, 6);
      }
      &.active {
        color: rgb(245, 188, 3);
      }
    }
    .user-name {
      color: rgb(246, 248, 248) !important;
      margin-right: 20px;
    }
  }
}

@media (max-width: 480px) {
  nav {
    .nav-link {
      font-size: 15px;
    }
  }
  .first {
    flex-direction: column;
  }
}
