.AppHeader {
  .row {
    height: 8vh;

    .search_result {
      position: absolute;
      width: 70%;
      height: 500px;
      background-color: #060606;
      box-shadow: 0 10px 20px rgb(0 0 0 / 77%);
      border-radius: 7px;
      color: #fff;
      padding: 20px;
      z-index: 1;
    }
    nav {
      background-color: rgb(3, 12, 61);
      .div-header {
        display: flex;
        flex-direction: row;
        width: 100%;

        &.second-header {
          justify-content: right;
        }
        .home {
          .home-icon {
            width: 30px;
          }
        }
      }
    }
    .nav-link {
      color: azure;
      font-weight: 600;
      font-size: 20px;
      &:hover {
        color: rgb(245, 121, 6);
      }
      &.active {
        color: rgb(245, 188, 3);
      }
    }
    .user-name {
      color: rgb(246, 248, 248) !important;
      margin-right: 20px;
    }
  }
}

@media (max-width: 480px) {
  nav {
    .nav-link {
      font-size: 15px;
    }
  }
  .first {
    flex-direction: column;
  }
}
